{% extends "accounts_base.html" %}

{% block content %}
<div class="card shadow position-absolute start-50 translate-middle" style="width:385px; height:385px; top:43%;">
  <h5 class="card-header">Password Change</h5>
  <div class="card-body">
    <div class="">
    <p class="card-text">
      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
            <p>Enter your email:</p>
            <p>{{ form.email }}</p>
    </p>
    <input type="submit" class="btn btn-primary" value="Reset password">
  </form>
  </div>
  </div>
</div>
{% endblock %}
