.back1 {
    background-color: rgb(127, 175, 170);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.w3-button:hover {
    color: rgb(92, 128, 124);
}

.width33 {
    width: 33%;
}

